[Unit]
Description=Run python script to refresh image files

[Service]
User=pauls
Type=oneshot
WorkingDirectory=/home/pauls/Downloads/displaytest
ExecStart=/home/pauls/Downloads/displaytest/.venv/bin/python3 index.py