[Unit]
Description=Refresh on weekdays every hour with 15 minutes of jitter

[Timer]
OnCalendar=Mon..Fri 05..20/1:00:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
