[Unit]
Description=Start Python server to serve gemba files
After=local-fs.target
After=network.target

[Service]
Type=simple
User=pauls
WorkingDirectory=/home/pauls/Gemba-Board-Site
ExecStart=/usr/bin/python3 /home/pauls/Gemba-Board-Site/nocache_server.py
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
